/**
 * Modified copy of the CSS file included with the LoopIndex Tracking Enhancement (LITE) plugin for CKEditor.
 */
.ice-ins.ckeditor-lite-ins {
  white-space: pre-wrap;
  display: inline;
}
.ice-ins.ckeditor-lite-ins-inv {
  display: none;
}

.ice-del.ckeditor-lite-del {
  display: none;
}
.ice-del.ckeditor-lite-del-inv {
  display: inline;
}


.ICE-Tracking .ice-ins,
.ICE-Tracking .ice-del {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #000;
  padding: 1px 0 2px;
}


.ICE-Tracking .ice-ins,
.ICE-Tracking .ice-ins p {
  background-color: #e5ffcd !important;
}
.ICE-Tracking .ice-ins.ckeditor-lite-ins-inv,
.ICE-Tracking .ice-ins.ckeditor-lite-ins-inv p {
  display: inline;
}

.ICE-Tracking .ice-ins.ice-cts-1,
.ICE-Tracking .ice-ins.ice-cts-1 > * {
  background-color: #e5ffcd !important;
}
.ICE-Tracking .ice-ins.ice-cts-2,
.ICE-Tracking .ice-ins.ice-cts-2 > * {
  background-color: #e3ffff !important;
}
.ICE-Tracking .ice-ins.ice-cts-3,
.ICE-Tracking .ice-ins.ice-cts-3 > * {
  background-color: #d1eeee !important;
}


.ICE-Tracking .ice-del {
  text-decoration: line-through;
  color: #555;
  background-color: #faf1f1 !important;
}
.ICE-Tracking .ice-del.ckeditor-lite-del,
.ICE-Tracking .ice-del.ckeditor-lite-del-inv {
  display: inline;
}

.ICE-Tracking .ice-del.ice-cts-1 {
  background-color: #faf1f1 !important;
}
.ICE-Tracking .ice-del.ice-cts-2 {
  background-color: #ffe1e1 !important;
}
.ICE-Tracking .ice-del.ice-cts-3 {
  background-color: #ffdddd !important;
}
